.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteiner {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.products__pretitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.products__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  margin-top: 15px;
  margin-bottom: 148px;
}

.products__item {
  position: relative;

  background: #ffb8ca;
  border-radius: 24px;
  height: 489px;

  &:not(:last-child) {
    margin-bottom: 140px;
  }
}

.products__img {
  position: absolute;
  top: -28%;
  left: 0;
}

.products__name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;

  padding-top: 160px;
  margin-bottom: 32px;
}

.products__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  margin-top: 32px;
  margin-bottom: 32px;
  width: 200px;
  height: 124px;
  margin-left: auto;
  margin-right: auto;
}

.products__link {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  border-radius: 50%;

  color: black;
  text-align: center;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--title-white-color);
  }
}

.products__list {
  margin-bottom: 40px;
}
